.main{
    width: 100%;
    height: 700px;
    background-color: rgb(87, 87, 87);
    display: flex;
    justify-content: center;
    align-items: center;
}
.field{
    width: 50%;
    height: 70%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.email {
    width: 90%;
    height: 15%;
    padding-left: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 30px;
    margin-bottom: 20px;
  }
.password{
    width: 90%;
    height: 15%;
    padding-left: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 30px;
    margin-bottom: 20px;;
}
.text{
    font-size: 50px;
}
.bigButton{
    width: 90%;
    height: 15%;
    background-color: black;
    color: white;
    border-width: 1px;
    border-radius: 15px;
    font-size: 30px;
}
.submit{
    width: 90%;
    height: 15%;
    background-color: transparent;
    border-width: 1px;
    border-radius: 15px;
    font-size: 30px;
}