
*{
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    
}

.container {
  
   width: 100%;
   height: 200px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   

  }
  .container1{
width: 50px;
height: 500px;
  }
.container2{
width: 600px;
height: 360px;
font-size: 110px;
padding-top: 50px;

}



.container3{
width: 834px;
height: 790px;
background-image: url(../container/images/animal.png);
background-size: contain;
background-repeat: no-repeat;


}
.uslugi{
  width: 100%;
  height: 400px;
  display: flex;
  justify-content:space-around;
}
.terapiya{
width: 320px;
height: 220px;
border-radius: 20px;
  border-color: transparent;
  box-shadow: 0 1px 1px rgb(111, 107, 107);
  background-color: #F6F6F6;
font-size: 40px;
display: flex;
padding-left: 10px; 
color: rgb(79, 78, 75);

}
.hirurgiya{
  width: 320px;
  height: 220px;
  border-radius: 20px;
  border-color: transparent;
  box-shadow: 0 1px 1px rgb(111, 107, 107);
  background-color: #F6F6F6;
  font-size: 40px;
  display: flex;
padding-left: 10px;
color: rgb(79, 78, 75);
}
.apteka{
  width: 320px;
  height: 220px;
  border-radius: 20px;
  border-color: transparent;
  box-shadow: 0 1px 1px rgb(111, 107, 107);
  background-color: #F6F6F6;
  font-size: 40px;
  display: flex;
padding-left: 10px;
color: rgb(79, 78, 75);
}
.ortopediya{
  width: 320px;
  height: 220px;
  border-radius: 20px;
  border-color: transparent;
  box-shadow: 0 1px 1px rgb(111, 107, 107);
  background-color: #F6F6F6;
  font-size: 40px;
  display: flex;
padding-left: 10px;
color: rgb(79, 78, 75);
}
.terapiya:hover{
  box-shadow:0 15px 15px rgba(196, 102, 63, 0.333);
    color:rgba(106, 110, 112, 0.373);
    transition: 0.3s;
    cursor: pointer; 
}
.terapiya:active{
  transform: scale(0.95); 
  box-shadow:  0 10px 13px rgba(153, 87, 54, 0.2);
}
.terapiyaLogo{
  background-image: url(../container/images/terap.png);
  width: 300px;
  height: 200px;
  display: flex;
  background-position: 70px 90px;
  background-repeat: no-repeat;
  
}
.hirurgiya:hover{
  box-shadow:0 15px 15px rgba(196, 102, 63, 0.333);
    color:rgba(106, 110, 112, 0.373);
    transition: 0.3s;
    cursor: pointer; 
}
.hirurgiya:active{
  transform: scale(0.95); 
    box-shadow:  0 10px 13px rgba(153, 87, 54, 0.2);
}
.hirurgiyaLogo{
background-image: url(../container/images/hirurg.png);
width: 300px;
  height: 200px;
  display: flex;
  background-position: 70px 90px;
  background-repeat: no-repeat;
}
.apteka:hover{
  box-shadow:0 15px 15px rgba(196, 102, 63, 0.333);
  color:rgba(106, 110, 112, 0.373);
  transition: 0.3s;
  cursor: pointer; 
}
.apteka:active{
  transform: scale(0.95); 
    box-shadow:  0 10px 13px rgba(153, 87, 54, 0.2);
}
.aptekaLogo{
  background-image: url(../container/images/apteka.png);
  width: 300px;
  height: 200px;
  display: flex;
  background-position: 70px 90px;
  background-repeat: no-repeat;
  
}
.ortopediya:hover{
  box-shadow:0 15px 15px rgba(196, 102, 63, 0.333);
  color:rgba(106, 110, 112, 0.373);
  transition: 0.3s;
  cursor: pointer; 
}
.ortopediya:active{
  transform: scale(0.95); 
    box-shadow:  0 10px 13px rgba(153, 87, 54, 0.2);
}
.ortopediyaLogo{
 background-image: url(../container/images/ortop.png);
 width: 300px;
  height: 200px;
  display: flex;
  background-position: 70px 90px;
  background-repeat: no-repeat;
}
.uslugi2{
  width: 100%;
  height: 500px;
  display: flex;
  justify-content:space-around;
}


.derma{
  width: 320px;
  height: 220px;
  border-radius: 20px;
  border-color: transparent;
  box-shadow: 0 1px 1px rgb(111, 107, 107);
  background-color: #F6F6F6;
  font-size: 40px;
  display: flex;
padding-left: 10px;
color: rgb(79, 78, 75);
  }
  .diagnost{
    width: 320px;
    height: 220px;
    border-radius: 20px;
  border-color: transparent;
  box-shadow: 0 1px 1px rgb(111, 107, 107);
  background-color: #F6F6F6;
    font-size: 40px;
    display: flex;
    padding-right: 50px;
    color: rgb(79, 78, 75);
  }
  .stomatolog{
    width: 320px;
    height: 220px;
    border-radius: 20px;
  border-color: transparent;
  box-shadow: 0 1px 1px rgb(111, 107, 107);
  background-color: #F6F6F6;
    font-size: 40px;
    display: flex;
padding-left: 10px;
color: rgb(79, 78, 75);
  }
  .onkologiya{
    width: 320px;
    height: 220px;
    border-radius: 20px;
    border-color: transparent;
    box-shadow: 0 1px 1px rgb(111, 107, 107);
    background-color: #F6F6F6;
    font-size: 40px;
    display: flex;
padding-left: 10px;
color: rgb(79, 78, 75);
  }
  .diagnost:hover{
    box-shadow:0 15px 15px rgba(196, 102, 63, 0.333);
    color:rgba(106, 110, 112, 0.373);
    transition: 0.3s;
    cursor: pointer; 
  }
  .diagnost:active{
    transform: scale(0.95); 
    box-shadow:  0 10px 13px rgba(153, 87, 54, 0.2);
  }
  .diagnostLogo{
    background-image: url(../container/images/diagn.png);
    width: 200px;
    height: 200px;
    display: flex;
    background-position: 70px 90px;
    background-repeat: no-repeat;
  }
  .derma:hover{
    box-shadow:0 15px 15px rgba(196, 102, 63, 0.333);
    color:rgba(106, 110, 112, 0.373);
    transition: 0.3s;
    cursor: pointer; 
  }
  .derma:active{
    transform: scale(0.95); 
    box-shadow:  0 10px 13px rgba(153, 87, 54, 0.2);
  }
  .dermaLogo{
    background-image: url(../container/images/derma.png);
    width: 300px;
  height: 210px;  
  display: flex;
  background-position: 70px 90px;
  background-repeat: no-repeat;
  }
  .stomatolog:hover{
    box-shadow:0 15px 15px rgba(196, 102, 63, 0.333);
    color:rgba(106, 110, 112, 0.373);
    transition: 0.3s;
    cursor: pointer;
  }
  .stomatolog:active{
    transform: scale(0.95); 
    box-shadow:  0 10px 13px rgba(153, 87, 54, 0.2);
  }
  .stomatologLogo{
    background-image: url(../container/images/stomat.png);
    width: 300px;
  height: 200px;
  display: flex;
  background-position: 70px 90px;
  background-repeat: no-repeat;
  }
  .onkologiya:hover{
    box-shadow:0 15px 15px rgba(196, 102, 63, 0.333);
    color:rgba(106, 110, 112, 0.373);
    transition: 0.3s;
    cursor: pointer; 
  }
  .onkologiya:active{
    transform: scale(0.95); 
    box-shadow:  0 10px 13px rgba(153, 87, 54, 0.2);
  }
  .onkologiyaLogo{ 
    background-image: url(../container/images/onkolog.png);
    width: 300px;
    height: 200px;
    display: flex;
    background-position: 70px 90px;
    background-repeat: no-repeat;
  }
  .der{
    width: 100px;
    height: 40px;
  }
  .ter{
    width: 100px;
    height: 40px;
  }
  .hir{
    width: 100px;
    height: 40px;
  }
  .apt{
    width: 100px;
    height: 40px;
  }
  .ort{
    width: 100px;
    height: 40px;
  }
  .diag{
    width: 100px;
    height: 40px;
  }
  .stom{
    width: 100px;
    height: 40px;
  }
  .onk{
    width: 100px;
    height: 40px;
  }
  .history{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 900px;
    background-color: #FBF8F8;
  }
  .history2{
    width: 550px;
    height: 600px;
    text-align: center;
    display: flex;

    flex-direction: column;

  }
  .hisCompanii{
    font-size: 40px;
    padding-bottom: 40px;
  }
  .vetmaster{
    font-size: 20px;
    padding-bottom: 20px;
  }
  .special{
    font-size: 40px;
    padding-bottom: 20px;
  }
  .specialLogo{
    width: 100%;
    height: 178px;
    display: flex;  
    background-image: url(../container/images/vrach1.png);
    background-repeat: no-repeat;
  }
  .specialLogo2{
    width: 100%;
    height: 178px;
    display: flex;  
    background-image: url(../container/images/vrach2.png);
    background-repeat: no-repeat;
  }
  .specialLogo3{
    width: 100%;
    height: 178px;
    display: flex;  
    background-image: url(../container/images/vrach3.png);
    background-repeat: no-repeat;
  }
  .vrachi{
    width: 100%;
    display: flex;
  }

.help{
  width: 100%;
  height: 1080px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.infa{
  width: 750px;
  padding-left: 10%;
  

}
.kolvo{
  font-size: 144px;
}
.titleHelp{
  font-size: 80px;
}

  .why{
    width: 100%;
    height: 1080px;
    background-color: #FBF8F8;

  }
  .fotoPt{
    width: 288px;
    height: 223px;
     z-index: 100%;
    top: 50%;
    left: 50%;
  }
  .ptichka{
    width: 288px;
    height: 223px;
    background-image:url(../container/images/bird.png);
   
  }
  .pochemu{
    width: 100%;
    height: 20px;
    justify-content: center;
    display: flex;
    padding-top: 40px;
    padding-bottom: 100px;
    font-size: 40px;
  }
  .usloviya{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content:space-around;
  }
  .usloviya2{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content:space-around;
  }
  .usloviya3{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content:space-around;
  }
  .work{
    width: 490px;
    height: 210px;
  }
  .usl{
    width: 490px;
    height: 210px;
  }
  .opit{
    width: 490px;
    height: 210px;

  }
  .laborat{
    width: 490px;
    height: 210px;
  }
  .stationar{
    width: 490px;
    height: 210px;
  }
  .oborud{
    width: 490px;
    height: 210px;
  }
  .online{
    width: 490px;
    height: 210px;
  }
  .zoo{
    width: 490px;
    height: 210px;
  }
  .salon{
    width: 490px;
    height: 210px;
  }
  .tittleQ{
    font-size: 30px;
    padding-bottom: 20px;
  }
  .tittleWWW{
    width: 320px;
    height: 150px;
    line-height: 2;
    font-size: 16px;
  }
  .osnova{
    width: 475px;
    height: 130px;  
    display: flex;  
    justify-content: space-around;
  }
  .icoWork{
    width: 90px;
    height: 70px;
    background-image: url(../container/images/work.png);
  }
  .icoUsl{
    width: 80px;
    height: 95px;
    background-image: url(../container/images/usl.png);
  }
  .icoOpit{
    width: 80px;
    height: 100px;
    background-image: url(../container/images/opit.png);
  }
  .icoLaborat{
    width: 55px;
    height: 65px;
    background-image: url(../container/images/laborat.png);
  }
  .icoStationar{
    width: 80px;
    height: 65px;
    background-image: url(../container/images/stationar.png);
  }
  .icoOborud{
    width: 50px;
    height: 75px;
    background-image: url(../container/images/oborud.png);
  }
  .icoOnline{
    width: 100px;
    height: 90px;
    background-image: url(../container/images/online.png);
  }
  .icoZoo{
    width: 80px;
    height: 80px;
    background-image: url(../container/images/zoo.png);
  }
  .icoSalon{
    width: 75px;
    height: 75px;
    background-image: url(../container/images/Salon.png);
  }
.contacti{
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: space-around;
  padding-top: 150px;
}
.contactiInfo{
  width: 200px;
  height: 360px;
  padding-top: 150px;
  padding-right: 150px;
}
.karta{
width: 850px;
height: 530px;

margin-top: 80px;
margin-right: 400px;
}
.cont{
  width: 200px;
  height: 60px;
  font-size: 60px;
  display: flex;
  padding-left: 300px;
}
.street{
  width: 250px;
  height: 60px;
  font-size: 20px;
}
.rezhim{
  font-size: 20px;
  width: 200px;
  height: 210px;
}
.nomer{
  line-height: 8;
  font-size: 24px;
}
.infoLogo{
  width: 70px;
  height: 250px;
  margin-top: 160px;
  margin-left: 0px;
}
.streetLogo{
width: 100%;
height: 120px;
background-image: url(../container/images/street.png);

}
.nomerLogo{
  width: 100%;
  height: 120px;
  background-image: url(../container/images/nomer.png);
}
.rezhimLogo{
  width: 100%;
  height: 120px;
  background-image: url(../container/images/rezhim.png);
}
.contInfo{
  width: 400px;
  height: 300px;
  display: flex; 
  
}
.footer1{
  width: 100%;
  height: 200px;
  display: flex;
  box-shadow: 0 0 15px #6c6c6c;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  align-items: end;
}
.footer{
  width: 100%;
  height: 200px;
  background-color: rgb(243, 240, 240);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logotip{
  width: 370px;
  height: 50px;
  color: #59443F;
  font-size: 44px;
  justify-content: center;
  align-items: center;
  display: flex;

  
}
.lapka{
  width: 100px;
  height: 90px;
  background-image: url(../img/logo.png);

}


.funkcii{
    
    font-size: 24px;
}


