*{
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
}
.katya{
    width: 100%;
    height: 1080px;
    margin-top: 200px;
    display: flex;
    justify-content: center;
 
}
.left{
    width: 30%;
    height: 100%;
    background-color: #8e8383;
    border-top-right-radius: 25px;
}
.right{
    width: 30%;
    height: 100%;
    background-color: #8e8383;
    border-top-left-radius: 25px;
}
.info{
    width: 90%;
    font-size: 20px;
    font-weight: 500;
}

.backFace{
    width: 25%;
    height: 570px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    
}
.data{
font-size: 20px;
}
.face{
    width: 333px;
    height: 333px;
    background-image: url(../img/face2.1.png);
}
.zapis{
    width: 350px;
    height: 80px;
    border-radius: 50px;
    border-color: transparent;
    font-size: 25px;
    background-color: #ffbe9e;
    box-shadow: 0 1px 1px rgb(111, 107, 107);
    font-size: 30px;


}

.zapis:hover{
    box-shadow:0 15px 15px rgba(196, 102, 63, 0.333);
    color:rgb(255, 255, 255);
    transition: 0.3s;
    cursor: pointer; 
    
}
.zapis:active {
    transform: scale(0.95); 
    box-shadow: 0 10px 13px rgba(153, 87, 54, 0.2);
  }

.infoVrach{
    width: 1000px;
    height: 500px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.exit{
    width: 50px;
    height: 20px;
    background-color: transparent;
    border-color: transparent;
    font-size: 20px;
    font-weight: 600;
    color: #ffbe9e;
}
.exit:hover{
    color: #FFC59E;
    transition: 0.3s;
    cursor: pointer;
}

.name{
    font-size: 40px;
    font-weight: 500;
}
.specialnost{
    font-size: 25px;
}


.kursi{
    font-size: 20px;
}

.vidKurs{
    width: 1000px;
    height: 100px;
    display: flex;
    justify-content: space-around;
}

.kurs1{
width: 250px;
height: 90px;
background-color: transparent;

border-radius: 15px;
border: 2px solid #FFC59E;

  }

.kurs2{
    width: 250px;
    height: 90px;
    background-color: transparent;
    
    border-radius: 15px;
    border: 2px solid #FFC59E;
  }

.kurs3{
    width: 250px;
height: 90px;
background-color: transparent;

border-radius: 15px;
border: 2px solid #FFC59E;
  }

.year{
    font-size: 20px;

}
.nazvanie{
    width: 200px;
    font-size: 25px;
}