*{
    padding: 0;
    margin: 0;
}
.header{
    width: 100%;
    height: 120px;
    background-color:#FFF;
    position: fixed;
    
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 0 3px #000;

}
.headerTittle{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}
.headerLogo{
    background-color: transparent;
    background-image: url(../img/logo.png);
    width: 100px;
    height: 90px;
    background-repeat: no-repeat;
}
.lichnii{
    background-color: transparent;
    border-color: transparent;
    font-size: 20px;
    font-weight: 600;
    color: #59443F;
}
.us{
    background-color: transparent;
    border-color: transparent;
    font-size: 20px;
    font-weight: 600;
    color: #59443F;
}
.news{
    background-color: transparent;
    border-color: transparent;
    font-size: 20px;
    font-weight: 600;
    color: #59443F;
}
.contact{
    background-color: transparent;
    border-color: transparent;
    font-size: 20px;
    font-weight: 600;
    color: #59443F;
}
.blog{
    background-color: transparent;
    border-color: transparent;
    font-size: 20px;
    font-weight: 600;
    color: #59443F;
}
.home{
    background-color: transparent;
    border-color: transparent;
    font-size: 20px;
    font-weight: 600;
    color: #59443F;
}
.vn{
    background-color: transparent;
    border-color: transparent;
    width: 220px;
    height: 40px;
    background-repeat: no-repeat;
    background-image: url(../img/vn.png);
}
.lichnii:hover{
    color:#FFC59E;
    transition: 0.3s;
    cursor: pointer;
}
.us:hover{
    color: #FFC59E;
    transition: 0.3s;
    cursor: pointer;
}
.news:hover{
    color: #FFC59E;
    transition: 0.3s;
    cursor: pointer;
}
.contact:hover{
    color:#FFC59E;
    transition: 0.3s;
    cursor: pointer;
}
.blog:hover{
    color: #FFC59E;
    transition: 0.3s;
    cursor: pointer;
}
.vn:hover{
    color: #FFC59E;
    transition: 0.3s;
    cursor: pointer;
}
.home:hover{
    color: #FFC59E;
    transition: 0.3s;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: #59443F;
    font-weight: 600;
}
a:hover{
    color: #FFC59E;
    transition: 0.3s;
    cursor: pointer;
   
}
