*{
    padding: 0;
    margin: 0;
}
.special{
    width: 100%;
    height: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 60px;
    

}
.knopki{
    width: 910px;
    height: 820px;
    display: flex;
    line-height: 30px;
    justify-content: space-between;
}
.specialTittle{
    padding-bottom: 50px;
    font-size: 50px;

}
.specialisti{
    width: 440px;
    height: 850px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    
}
.specialisti2{
    width: 440px;
    height: 850px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.s1{
    width: 440px;
    height: 255px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
  border-color: transparent;
  box-shadow: 0 1px 1px rgb(111, 107, 107);
  background-color: #F6F6F6; 
  
    
}
.s1:hover{
    box-shadow:0 15px 15px rgba(196, 102, 63, 0.333);
    color:rgba(106, 110, 112, 0.373);
    transition: 0.3s;
    cursor: pointer;
}
.s1:active{
    transform: scale(0.95); 
    box-shadow:  0 10px 13px rgba(153, 87, 54, 0.2);
  }
.s2{
    width: 440px;
    height: 255px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
  border-color: transparent;
  box-shadow: 0 1px 1px rgb(111, 107, 107);
  background-color: #F6F6F6;
}
.s2:hover{
    box-shadow:0 15px 15px rgba(196, 102, 63, 0.333);
    color:rgba(106, 110, 112, 0.373);
    transition: 0.3s;
    cursor: pointer;   
}
.s2:active{
    transform: scale(0.95); 
    box-shadow:  0 10px 13px rgba(153, 87, 54, 0.2);
  }
.s3{
    width: 440px;
    height: 255px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    border-color: transparent;
    box-shadow: 0 1px 1px rgb(111, 107, 107);
    background-color: #F6F6F6;
}
.s3:hover{
    box-shadow:0 15px 15px rgba(196, 102, 63, 0.333);
    color:rgba(106, 110, 112, 0.373);
    transition: 0.3s;
    cursor: pointer; 
}
.s3:active{
    transform: scale(0.95); 
    box-shadow:  0 10px 13px rgba(153, 87, 54, 0.2);
  }
.s4{
    width: 440px;
    height: 255px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
  border-color: transparent;
  box-shadow: 0 1px 1px rgb(111, 107, 107);
  background-color: #F6F6F6;
}
.s4:hover{
    box-shadow:0 15px 15px rgba(196, 102, 63, 0.333);
    color:rgba(106, 110, 112, 0.373);
    transition: 0.3s;
    cursor: pointer; 
}
.s4:active{
    transform: scale(0.95); 
    box-shadow:  0 10px 13px rgba(153, 87, 54, 0.2);
  }
.s5{
    width: 440px;
    height: 255px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
  border-color: transparent;
  box-shadow: 0 1px 1px rgb(111, 107, 107);
  background-color: #F6F6F6;
}
.s5:hover{
    box-shadow:0 15px 15px rgba(196, 102, 63, 0.333);
    color:rgba(106, 110, 112, 0.373);
    transition: 0.3s;
    cursor: pointer; 
}
.s5:active{
    transform: scale(0.95); 
    box-shadow:  0 10px 13px rgba(153, 87, 54, 0.2);
  }
.s6{
    width: 440px;
    height: 255px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
  border-color: transparent;
  box-shadow: 0 1px 1px rgb(111, 107, 107);
  background-color: #F6F6F6;
}
.s6:hover{
    box-shadow:0 15px 15px rgba(196, 102, 63, 0.333);
    color:rgba(106, 110, 112, 0.373);
    transition: 0.3s;
    cursor: pointer; 
}
.s6:active{
    transform: scale(0.95); 
    box-shadow: 0 10px 13px rgba(153, 87, 54, 0.2);
  }

  .face1{
    width: 130px;
    height: 130px;
    background-image: url(../img/face1.png);
  }
  .face2{
    width: 130px;
    height: 130px;
    background-image: url(../img/face2.png);
  }
  .face3{
    width: 130px;
    height: 130px;
    background-image: url(../img/face3.png);
  }
  .face4{
    width: 130px;
    height: 130px;
    background-image: url(../img/doctor.png);
  }
  .face5{
    width: 130px;
    height: 130px;
    background-image: url(../img/face4.png);
  }
  .face6{
    width: 130px;
    height: 130px;
    background-image: url(../img/face5.png);
  }
  .faceStazh{
    width: 130px;
    height: 170px;
    flex-direction: column;
    margin-top: 50px;
  }
  .infoVrach{
    width: 235px;
    height: 195px;
    flex-direction: column;
    text-align: left;
  }
  .stazh{
    color: #FFC59E;
    font-weight: 700;
    font-size: 16px;

  }
  .prof{
    font-size: 16px;
    color: #71706f;
    font-weight: 500;
    margin-top: 5px;
    
  }
  .name{
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
  }
  .spec{
    font-size: 16px;
    color: #71706f;
    font-weight: 500;
    margin-top: 20px;
  }
  .zadacha{
    font-size: 20px;
    font-weight: 400;
    margin-top: 30px;
    
  }