*{
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
}
.online{
    width: 100%;
    height: 1080px;
}
.oformlenie{
    width: 100%;
    height: 1080px;
}








.footer1{
    width: 100%;
    height: 200px;
    display: flex;
    box-shadow: 0 0 15px #6c6c6c;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    align-items: end;
  }
  .footer{
    width: 100%;
    height: 200px;
    background-color: rgb(243, 240, 240);
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .logotip{
    width: 370px;
    height: 50px;
    color: #59443F;
    font-size: 44px;
    justify-content: center;
    align-items: center;
    display: flex;
  
    
  }
  .lapka{
    width: 100px;
    height: 90px;
    background-image: url(../img/logo.png);
  
  }
  .lichnii{
    background-color: transparent;
    border-color: transparent;
    font-size: 20px;
    font-weight: 600;
    color: #59443F;
  }
  .us{
    background-color: transparent;
    border-color: transparent;
    font-size: 20px;
    font-weight: 600;
    color: #59443F;
  }
  .contact{
    background-color: transparent;
    border-color: transparent;
    font-size: 20px;
    font-weight: 600;
    color: #59443F;
  }       
  .lichnii:hover{
    color:#FFC59E;
    transition: 0.3s;
    cursor: pointer;
  }
  .us:hover{
    color: #FFC59E;
    transition: 0.3s;
    cursor: pointer;
  }
  .news:hover{
    color: #FFC59E;
    transition: 0.3s;
    cursor: pointer;
  }
  .contact:hover{
    color:#FFC59E;
    transition: 0.3s;
    cursor: pointer;
  }
  .funkcii{
      
      font-size: 24px;
  }
  
  .knopki{
    width: 250px;
    height: 200px;
    flex-direction: column;
    display: flex;
  
    
    justify-content: center;
    row-gap: 10px;
  }
  .seti{
    width: 800px;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .tg{
    width: 52px;
    height: 52px;
    background-image: url(../img/tg.png);
    background-color: transparent;
    border-color: transparent;
    
  }
  .youtube{
    width: 72px;
    height: 52px;
    background-image: url(../img/Youtube\ \(2\).png);
    background-color: transparent;
    border-color: transparent;
  }
  .vk{
    width: 52px;
    height: 52px;
    background-image: url(../img/vk.png);
    background-color: transparent;
    border-color: transparent;
  }
  .gmail{
    background-color: transparent;
    border-color: transparent;
    font-size: 24px;
    
  }
  .pochta{
    width: 450px;
    height: 70px;
   display: flex;
   align-items: center;
    
  }
  .logoPochta{
    width: 62px;
    height: 62px;
    background-image: url(../img/gmail.png);
  }