*{
    padding: 0;
    margin: 0;
}
.zakaz{
    width: 350px;
    height: 100px;
    border-radius: 50px;
    border-color: transparent;
    font-size: 25px;
    background-color: #FFC59E;
    box-shadow: 0 1px 1px rgb(111, 107, 107);


}
.zakaz:hover{
    box-shadow:0 15px 15px rgba(0, 0, 0, 0.333);
    color:aliceblue;
    transition: 0.3s;
    cursor: pointer;
    
}
.zakaz:active {
    transform: scale(0.95); 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
  }
